*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-green: rgb(71, 113, 113);
}

/*Header*/

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    transition: 0.5s ease;
    
}

header .logo{
    color: white;
    font-size: 1em;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;

}

header .nav{
    
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

header .nav .nav-items a{
    color: white;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
    
}

header .nav .nav-items a:before{
    content: '';
    position: absolute;
    background: aliceblue;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .nav .nav-items a:hover:before{
    width: 100%;
}

.search-icon{
    color: white;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10%;
}

/*Carousel*/
.carousel{
    width: 99vw;
    height: 100vh;
    position: absolute;
    margin-left: -15%;
}


.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
}

.slide > img{
    display: block;
    width: 101.1%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 15%;
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 1.5rem;
    top: 25%;
    margin-left: 30%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev{
    left: 1rem; 
}

.carousel-button.next{
    right: 1rem;
}


/*Home section*/

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/darken2.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;   
}

.home .content{
    z-index: 888;
    color: white;
    width: 50%;
    
}

.home .content h1{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: -10%;
    margin-left: 10%;
    margin-top: 60%;
    margin-left: 40%;
}

/* social media icons effect*/
.home .media-icons{
    z-index: 888;
    position: absolute;
    left: 30px;
    margin-top: -4%;
    flex-direction: column;
    transition: 0.5s ease;
    margin-left: -3%;
}

.home .media-icons a{
    color: aliceblue;
    font-size: 12px;
    margin-bottom: 10px;
    transition: 0.3s ease;
    display: flex;
   
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

/*Your best adventure*/

.adventure{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover; 
}

.home .heading-title{
    color: white;
    font-size: 16px;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40%;
    margin-left: 32%;
    position: absolute;
}

.home .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60%;
   
}

.home .container img{
    width: 100px;
    
}



.home .btn{
    color: white;
    border-radius: 20px;
    border: solid white;
    cursor: pointer;
    border-color:white;
    background-color: rgb(86, 228, 253);
   text-decoration: none;
   display: flex;
   justify-content: center;
   width: 100px;
   height: 25px;
   margin-left: 38%;
   margin-top: 10%;
}

.home .btn:hover{
    background-color: var(--dark-green);
}

/* Subpages section */
/* Street Art Sofia */


.streetart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 10vh;  
    background-size: cover;
}

.streetart .bcg_img{
    
    margin-left: 10%;
}

.streetart .bcg_img img{
    width: 100%;
    
   
}


.streetart .image{
    flex:1 1 41rem;
    position: absolute;
    display: flex;
    margin-left: 6%;
    margin-top: 280%;
   
   
}

.streetart .image img{
    width: 330px;
    
}

.streetart .content{
    flex:1 1 41rem;
    padding: 2.5rem;
    position: absolute;
    margin-left: 47%;
    font-size: 10px;
    margin-top: 290%;
    
}

.streetart .content h3{
    color: white;
    
}

.streetart .content p{
    color: white;
}

.streetart .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    width: 70px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 18px;
 
}

.streetart .content .btn:hover{
    background-color: var(--dark-green);
}


/*image between sections*/
.bcg_img{
    background-image: url(images/ndc_photoshop.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}

/* Street Waffles Sofia */
.streetfood{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 50vh;  
    background-size: cover;
}


.streetfood .image{
    display: flex;
    margin-left: 6%;
    position: absolute;
    
}

.streetfood .image img{
    width: 330px;
}

.streetfood .waffles_edit{
    position: absolute;
    
   
}

.streetfood .waffles_edit img{
    width: 100%;
   
}

.streetfood .content{
    flex:1 1 41rem;
    margin-top: 15%;
    margin-left: -17%;
    position: absolute;
    padding-left: 28%;
    text-align: right;
    font-size: 10px;
    
}

.streetfood .content h3{
    color: white;
}

.streetfood .content p{
    color: white;
}


.streetfood .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    width: 70px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 18px;
    margin-left: 50%;  
}

.streetfood .content .btn:hover{
    background-color: var(--dark-green);
}

/* The Red flat */

.redflat{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}

.redflat .image{
    flex:1 1 41rem;
    display: flex;
    position: absolute;
    margin-left: 6%;

}

.redflat .image img{
    width: 330px;
}

.redflat .camera{
    position: absolute;
    margin-left: 5%;
    
   
}

.redflat .camera img{
    width: 10%;
   
}

.redflat .content{
    flex:1 1 41rem;
    padding: 2.5rem;
    position: absolute;
    margin-left: 47%;
    font-size: 10px;
    margin-top: 10%;
    
}

.redflat .content h3{
    color: white;
    display: flex;
    justify-content: flex-start;
}

.redflat .content p{
    color: white;
}

.redflat .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 18px;
    margin-left: 1%;
    margin-top: 20%;
}

.redflat .content .btn:hover{
    background-color: var(--dark-green);
}










/* People and culture in Sofia */

.culture{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}

.culture .image{
    flex:1 1 41rem;
    margin-left: 70%;
    display: flex;  
    
}

.culture .image img{
    width: 150%;
}

.culture .image2{
    display: flex;
    position: absolute;
    margin-top: 6%;
    margin-left: 50px;
}

.culture .image2 img{
    width: 35%;
}

.culture .content{
    flex:1 1 41rem;
    padding: 3rem;
    position: absolute;
    padding-left: 33%;
    font-size: 18px;
    
}

.culture .content h3{
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: flex-start;
    margin-left: -150%;
}

.culture .content p{
    color: white;
    margin-left: -150%;
}

.culture .quote{
    display: flex;
    position: absolute;
    color: white;
    margin-left: 70%;
    font-style: italic;
    line-height: 1.7rem;
   
}

.content q{
    color: white;
}

.culture .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    width: 100px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 28px;
    margin-left: -150%;
    margin-top: 80%;
}

.culture .content .btn:hover{
    background-color: var(--dark-green);

}

/* What can we offer */
.offer{
    background-image: url(images/Alexander_Nevsky.png);
    background-repeat: no-repeat;
    height: 50vh;  
    background-size: cover;
}

.content .title{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 15%;
    font-size: 20px;
    position: absolute;
    margin-top: -15%;
}

.content .benefits{
    color: aliceblue;
    
}

.benefits .places h3{
    display: flex;
    margin-left: 50%;
    font-size: 12px;
}

.benefits .places p{
    margin-left: 50%;
    margin-top: 2%;
    font-size: 10px;
}

.benefits .locations{
    display: flex;
}

.benefits .locations h3{
    margin-top: 26%;
}

.benefits .locations p{
    margin-left: -53%;
    margin-top: 38%;
}

.benefits .food h3{
    display: flex;
    margin-top: 20%;
}

.benefits .food p{
    margin-left: -54%;
    margin-top: 30%;
}
.section-offer p{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 40%;
    font-size: 5px;
    
}

.locations{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 50%;
    font-size: 10px;
    
}

.food{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 50%;
    font-size: 10px;
    
}




/* footer */

.footer{
    border-top: .1rem solid white;
    background-image: url(images/Alexander_Nevskycopy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;

   

    

}

.footer .box-container{
    display: flex;
    justify-content: space-around;

   
}



.footer .box-container .box h3{
    color: white;
    font-size: 10px;
    padding-bottom: 1rem;
    margin-left: 20%;
    margin-top: 25%;

}

.footer .box-container .links{
    display: flex;
    flex-direction: column;
    
}

.footer .box-container .links a{
    text-decoration: none;
    color: white;
    margin-left: 20%;
    font-size: 10px;
}

.footer .box .contact-icons a i{
    color: white;
    padding-right: .5rem;
    font-size: 15px;
    margin-bottom: 30px;
    transition: 0.3s ease;
}


.footer .copyright{
    text-align: center;
    padding-top: 1rem;
    margin-top: 4rem;
    font-size: 10px;
    color: white;
}




