*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    transition: 0.5s ease;
    
}

header .logo{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
}

header .logo:hover{
    color: rgb(147, 255, 255);
}

header .nav{
    position: relative;
}

header .nav .nav-items a{
    position: relative;
    color: aliceblue;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .nav .nav-items a:before{
    content: '';
    position: absolute;
    background: aliceblue;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .nav .nav-items a:hover:before{
    width: 100%;
}

.search-icon{
    color: white;
    font-size: 14px;
    cursor: pointer;
}

/*Home section*/
section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/waffles_cover.png);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;   
}

.home .breadcrumbs{
    display: flex;
}

.home .breadcrumbs a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-decoration: none;
    margin-top: -15%;
    
}
.home .breadcrumbs .backtohome{
    color: white;
    margin-left: -16%;
}

.home .breadcrumbs .backtohome:hover{
    color: aqua;
}

.home .breadcrumbs .uil{
    color: white;
    margin-top: -15%;
}


.home .content{
    z-index: 888;
    color: aliceblue;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    display: flex;
    
    text-align: center;
    position: absolute;
    font-size: 3em;
    letter-spacing: 3px;
   
    margin-left: 24%;
}

/*Who are street waffles*/

.waffles{
    background-image: url(imagesrf/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover; 
}

.waffles .content{
   margin-left: 40%;
   text-align: right;
   position: absolute;
   font-size: 20px;
   margin-top: 5%;
}

.waffles .content h3{
    color: white;
    
}

.waffles .content p{
    color: white;
    margin-top: 2%;
}


.waffles .paragraph{
    color: white;
    display: flex;
    position: absolute;
    float: left;
    margin-top: 40%;
    
    font-size: 20px;
}

.waffles .image{
    margin-left: -2%;
    display: flex;
    position: absolute;
}

.waffles .image img{
    width: 60%;
}

.waffles .image2{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 36%;
    margin-top: 16%;

}

.waffles .image2 img{
    width: 70%;
   margin-top: 33%;
}

/*Gallery section*/

.gallery{
    background-image: url(imagesrf/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover; 

}

.gallery .content{
    text-align: center;
    margin-top: 15%;
    margin-left: 20%;
    position: absolute;
}

.gallery .content h1{
    color: rgb(255, 150, 44);
    font-size: 25px;
}

.gallery .content p{
    color: white;
    margin-top: 6%;
}

.gallery .content p span{
    color: aqua;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40%;
    
}

.container img{
    width: 200px;
    
}

/*Inbetween section*/

.inbetween{
    background-image: url(imagesrf/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover; 
}

/* Where to be found section */

.location{
    background-image: url(imagesrf/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover; 
}

.location .content{
   font-size: 20px;
   margin-top: 8%;
   margin-left: 10%;
   
}

.location .content h3{
    color: white;
    margin-left: 5%;
    position: absolute;
    
}

.location .content p{
    color: white;
    margin-top: 3%;
    margin-left: 5%;
    position: absolute;
}

.location .promotion{
    text-align: center;
}

.location .visit{
    color: white;
    position: absolute;
    margin-top: 10%;
    margin-left: 13%;
    display: flex;
    gap: 5px;
    font-size: 18px;
}

.location .visit a{
    color: white;
    text-decoration: none;  
}

.location .visit a:hover{
    color: aqua;
}

.location p{
    color: white;
    position: absolute;
    margin-top: 13%;
    margin-left: 18%;
}

.location .social-media{
    color: white;
    position: absolute;
    margin-left: 13%;
    margin-top: 16%;
    display: flex;
    gap: 5px;
    font-size: 18px;
}

.location .social-media a{
    color: white;
    text-decoration: none;  
}

.location .social-media a:hover{
    color: aqua;
}


.location .map{
    width: 320px;
    display: flex;
    position: absolute;
    margin-left: 45%;
    margin-top: -1%;

}

.location .url p{
    color: white;
    display: flex;
    position: absolute;
    font-style: italic;
    font-size: 13px;
   margin-top: 21%;
    margin-left: 53%;
}


/* footer */

.footer{
    border-top: .1rem solid white;
    background-image: url(images/Alexander_Nevsky.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer .box-container{
    display: flex;
    justify-content: space-around;
}

.footer .box-container .box h3{
    color: white;
    font-size: 1rem;
    padding-bottom: 2rem;
    margin-top: 25%;
}

.footer .box-container .links{
    display: flex;
    flex-direction: column;
    
}

.footer .box-container .links a{
    text-decoration: none;
    color: white;
}

.footer .box .contact-icons a i{
    color: white;
    padding-right: .5rem;
    font-size: 20px;
}

.divider img{
   margin-right: 190px;
   margin-top: 10%;
}

.footer .copyright{
    text-align: center;

    margin-top: 10%;
    font-size: .8rem;
    color: white;
}