 @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Poppins:ital,wght@1,200&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    background-image: url(kopito.jpg);
    
    height: 100vh;  
    background-size: cover; 
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;

}


.logo{
    font-size: 22px;
    font-weight: 500;
    color: aliceblue;
    font-size: 30px;
    
}



.navigation-links{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 250px;
    font-size: 28px;
    justify-content: space-between;

}

a{
    text-decoration: none;
}

.search-icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.discover{
    color: aliceblue;
    position: absolute;
    margin-top: 30%;
    margin-left: 7%;
    font-size: 40px;
}

.sofia{
    color: aliceblue;
    position: absolute;
    margin-top: 41%;
    margin-left: 7%;
    font-size: 100px;
}

.facebook{
    color: aliceblue;
    position: absolute;
   margin-left: 1%;
   margin-top: 30%;
   font-size: 45px;
}

.instagram{
    color: aliceblue;
    position: absolute;
   margin-left: 1%;
   margin-top: 40%;
   font-size: 45px;   
}

.twitter{
    color: aliceblue;
    position: absolute;
   margin-left: 1%;
   margin-top: 50%;
   font-size: 45px;
}

#section{
   background-image: url(bcg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh; 
}

#section h1{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 40%;
    font-size: 50px;
}

.container{
    width: 33.33%;
    color: #f1f1f1;
    
    align-items: center;

}


.explore{
    color: #fffcfc;
    border-radius: 5px;
    cursor: pointer;
    border-color:white;
    background-color: rgb(160, 241, 255);
   
}