
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-green: rgb(71, 113, 113);
}

/*Header*/

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    transition: 0.5s ease;
    
}

header .logo{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
}

header .nav{
    position: relative;
}

header .nav .nav-items a{
    position: relative;
    color: aliceblue;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .nav .nav-items a:before{
    content: '';
    position: absolute;
    background: aliceblue;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .nav .nav-items a:hover:before{
    width: 100%;
}

.search-icon{
    color: white;
    font-size: 14px;
    cursor: pointer;
}


/*Home section*/
section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/kopito_gradient.png);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;   
}

.home .content{
    z-index: 888;
    color: aliceblue;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 7em;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 75px;
    margin-bottom: 40px;
    margin-top: 3%;

}

.home .content h2{
    font-size: 2em;
    margin-top: -10%;
    margin-left: 1%;
}

/* social media icons effect*/
.home .media-icons{
    z-index: 888;
    position: absolute;
    left: 30px;
    margin-top: -12%;
    flex-direction: column;
    transition: 0.5s ease;
   
    
}

.home .media-icons a{
    color: aliceblue;
    font-size: 1.6em;
    margin-bottom: 30px;
    transition: 0.3s ease;
    display: flex;
   
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

/*Your best adventure*/


.adventure{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover; 
}

.adventure .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}



.adventure .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
}



.adventure .box-container .box img{
    display: block;
    width: 100%;
    height: auto;
}

.adventure .heading-title{
    color: white;
    font-size: 1.7rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


.adventure .btn{
    color: white;
    border-radius: 20px;
    border: solid white;
    cursor: pointer;
    border-color:white;
    background-color: rgb(86, 228, 253);
   text-decoration: none;
   display: flex;
   justify-content: center;
   width: 100px;
   height: 25px;
   margin-left: 40%;
}

.adventure .btn:hover{
    background-color: var(--dark-green);
}


/* Subpages section */
/* Street Art Sofia */


.streetart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}

.streetart .bcg_img{
    display: flex;
    margin-left: 70%;
}

.streetart .bcg_img img{
    width: 250%;
   
}


.streetart .image{
    flex:1 1 41rem;
    position: absolute;
    display: flex;
    margin-left: -6%;
   
   
}

.streetart .image img{
    width: 800px;
    
}

.streetart .content{
    flex:1 1 41rem;
    padding: 3rem;
    position: absolute;
    margin-left: 25%;
    font-size: 18px;
    
}

.streetart .content h3{
    color: white;
    
}

.streetart .content p{
    color: white;
}

.streetart .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    width: 100px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 28px;
 
}

.streetart .content .btn:hover{
    background-color: var(--dark-green);
}


/*image between sections*/
.bcg_img{
    background-image: url(images/ndc_photoshop.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}



/* Street Waffles Sofia */
.streetfood{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}


.streetfood .image{
    display: flex;
    margin-left: 20%;
    position: absolute;
    
}

.streetfood .image img{
    width: 800px;
}

.streetfood .waffles_edit{
    position: absolute;
    
   
}

.streetfood .waffles_edit img{
    width: 40%;
   
}

.streetfood .content{
    flex:1 1 41rem;
    margin-top: 7%;
    position: absolute;
    padding-left: 28%;
    text-align: right;
    font-size: 18px;
    
}

.streetfood .content h3{
    color: white;
}

.streetfood .content p{
    color: white;
}


.streetfood .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    width: 100px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 28px;
    margin-left: 60%;  
}

.streetfood .content .btn:hover{
    background-color: var(--dark-green);
}

/* The Red flat */

.redflat{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}

.redflat .image{
    flex:1 1 41rem;
    display: flex;
    position: absolute;
    margin-left: -5%;

}

.redflat .image img{
    width: 850px;
}

.redflat .camera{
    position: absolute;
    margin-left: 45%;
    
   
}

.redflat .camera img{
    width: 80%;
   
}

.redflat .content{
    flex:1 1 41rem;
    padding: 3rem;
    position: absolute;
    padding-left: 28%;
    font-size: 18px;
    
}

.redflat .content h3{
    color: white;
    display: flex;
    justify-content: flex-start;
}

.redflat .content p{
    color: white;
}

.redflat .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    width: 100px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 28px;   
}

.redflat .content .btn:hover{
    background-color: var(--dark-green);
}



/* People and culture in Sofia */

.culture{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}

.culture .image{
    flex:1 1 41rem;
    margin-left: 70%;
    display: flex;  
    
}

.culture .image img{
    width: 150%;
}

.culture .image2{
    display: flex;
    position: absolute;
    margin-top: 6%;
    margin-left: 50px;
}

.culture .image2 img{
    width: 35%;
}

.culture .content{
    flex:1 1 41rem;
    padding: 3rem;
    position: absolute;
    padding-left: 33%;
    font-size: 18px;
    
}

.culture .content h3{
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: flex-start;
    margin-left: -150%;
}

.culture .content p{
    color: white;
    margin-left: -150%;
}

.culture .quote{
    display: flex;
    position: absolute;
    color: white;
    margin-left: 70%;
    font-style: italic;
   
}

.content q{
    color: white;
}

.culture .content .btn{
    color: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    border: solid white;
    background-color: rgb(86, 228, 253);
    text-decoration: none; 
    width: 100px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 28px;
    margin-left: -150%;
    margin-top: 80%;
}

.culture .content .btn:hover{
    background-color: var(--dark-green);

}





/* What can we offer */
.offer{
    background-image: url(images/Alexander_Nevsky.png);
    background-repeat: no-repeat;
    height: 100vh;  
    background-size: cover;
}

.content .title{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 15%;
    font-size: 30px;
    position: absolute;
    margin-top: -6%;
}

.content .benefits{
    color: aliceblue;
    margin-top: 10%;
    
}

.benefits .places h3{
    display: flex;
    margin-left: 50%;
   
}

.benefits .places p{
    margin-left: 50%;
    margin-top: 1%;
}

.benefits .locations{
    display: flex;
}

.benefits .locations h3{
    margin-top: 11%;
}

.benefits .locations p{
    margin-left: -35%;
    margin-top: 19%;
}

.benefits .food h3{
    display: flex;
    margin-top: 12%;
}

.benefits .food p{
    margin-left: -35%;
    margin-top: 19%;
}
.section-offer p{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 40%;
    font-size: 10px;
    
}

.locations{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 50%;
    font-size: 18px;
    
}

.food{
    color: aliceblue;
    font-style: bold;
    display: flex;
    margin-left: 50%;
    font-size: 18px;
    
}




/* footer */

.footer{
    border-top: .1rem solid white;
    background-image: url(images/Alexander_Nevskycopy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   

    

}

.footer .box-container{
    display: flex;
    justify-content: space-around;
}



.footer .box-container .box h3{
    color: white;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.footer .box-container .links{
    display: flex;
    flex-direction: column;
    
}

.footer .box-container .links a{
    text-decoration: none;
    color: white;
}

.footer .box .contact-icons a i{
    color: white;
    padding-right: .5rem;
    font-size: 1.6em;
    margin-bottom: 30px;
    transition: 0.3s ease;
}



.divider img{
   margin-right: 190px;
}

.footer .copyright{
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: .8rem;
    color: white;
}


/*media queries*/

@media (max-width: 1200px){

    section{
        padding: 3rem 5%;
    }
}

@media (max-width: 991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .heading-title{
        font-size: 3.5rem;
    }

}



